In [42]:
import pandas as pd
import numpy as np

In [43]:
df = pd.read_excel("data/sales_data.xlsx")
df.head()

,Order_ID,Order_Date,Product,Category,Region,Quantity,Unit_Price,Total_Sales
0,1001,2024-01-03,Laptop,Electronics,West,2,55000,110000
1,1002,2024-01-06,Mobile Phone,Electronics,East,3,20000,60000
2,1003,2024-01-10,Office Chair,Furniture,North,5,4500,22500
3,1004,2024-01-15,Headphones,Electronics,South,4,2500,10000
4,1005,2024-01-20,Desk,Furniture,West,2,15000,30000

In [44]:
df.drop_duplicates(inplace= True)
df.dropna(inplace=True)
df['Order_Date'] = pd.to_datetime(df['Order_Date'])
df.head()

,Order_ID,Order_Date,Product,Category,Region,Quantity,Unit_Price,Total_Sales
0,1001,2024-01-03,Laptop,Electronics,West,2,55000,110000
1,1002,2024-01-06,Mobile Phone,Electronics,East,3,20000,60000
2,1003,2024-01-10,Office Chair,Furniture,North,5,4500,22500
3,1004,2024-01-15,Headphones,Electronics,South,4,2500,10000
4,1005,2024-01-20,Desk,Furniture,West,2,15000,30000

In [45]:
df.head()
df.columns

Index(['Order_ID', 'Order_Date', 'Product', 'Category', 'Region', 'Quantity',
       'Unit_Price', 'Total_Sales'],
      dtype='object')

In [46]:
'''
Showing Total Revenue
'''
total_revenue = df['Total_Sales'].sum()
print("Total Revenue is : ", total_revenue)

Total Revenue is :  1928500

In [47]:
''' Showing Monthly Sales Trend'''
monthly_sales = df.groupby(df['Order_Date'].dt.to_period('M'))['Total_Sales'].sum()
monthly_sales

Order_Date
2024-01    232500
2024-02    173000
2024-03    215000
2024-04    108500
2024-05    259000
2024-06    214500
2024-07    207500
2024-08    153000
2024-09    201500
2024-10    164000
Freq: M, Name: Total_Sales, dtype: int64

In [48]:
'''Showing Top Products by Revenue'''

top_products = (
    df.groupby('Product')['Total_Sales']
    .sum()
    .sort_values(ascending=False)
    .head(5)
)
top_products

Product
Laptop          715000
Mobile Phone    400000
Tablet          270000
Desk            165000
Bookshelf       112000
Name: Total_Sales, dtype: int64

In [49]:
'''Region-wise Revenue'''
region_sales = df.groupby('Region')['Total_Sales'].sum()
region_sales

Region
East     530000
North    274000
South    426500
West     698000
Name: Total_Sales, dtype: int64

In [50]:
'''Category wise Revenue'''
category_sales = df.groupby('Category')['Total_Sales'].sum()
category_sales

Category
Electronics    1548000
Furniture       380500
Name: Total_Sales, dtype: int64

In [51]:
'''Average Order Value'''
avg_order_value = df['Total_Sales'].mean()
avg_order_value

np.float64(38570.0)

In [52]:
best_product = top_products.idxmax()
best_region = region_sales.idxmax()

print("Business Insights:")
print(f"- Top-selling product by revenue: {best_product}")
print(f"- Highest performing region: {best_region}")

Business Insights:
- Top-selling product by revenue: Laptop
- Highest performing region: West